body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    height: 600px;
}
.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-width: 300px;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: auto; /* This ensures if the controls overflow, the container will scroll */
}
label, select, input, button {
    font-size: 14px;
    padding: 5px;
}
#map {
    height: 600px;
    flex: 1;
    height: 100%;
}
.visualizations {
    text-align: center;  /* Centers the h2 title */
}

.chart-container {
    margin-top: 20px;
}

.chart-title {
    text-align: center;  /* Centers the chart titles */
    font-size: 1.2em;
    margin-bottom: 10px;
}
.tooltip {
    position: absolute;
    background: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    display: none;
    z-index: 1000; /* Ensure it's above other elements */
    pointer-events: none; /* Prevent tooltip from interfering with interactions */
}

/* Optional: Apply a slight delay for tooltip visibility, if desired */
.tooltip.visible {
    display: block;
}

#lensMap {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    z-index: 1000; /* Ensure it is above other elements */
}
